*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}
body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: inter, sans-serif;
}
.navbar{
    background-color: #eaf2fc;
    z-index:9999;
    padding-bottom:38px;
    width:100vw;
}
#icon-login{
    margin: auto;
    display: flex;
}
.icon-img{
    position: absolute;
    top: 40px;
}
.icon2-img{
    position: absolute;
    margin-top: 20px;
    margin-left: 85px;
}
.icon3-img{
    position: absolute;
    margin-top: 25px;
    margin-left: 230px;
}
.signup-form{
    margin-left: 850px;
    margin-top: 20px;
}
.signup-form h1{
    font-size: 1.7rem;
    line-height: 2.5rem;
    font-weight: 600;
}
.signup-form p{
    color: #363636;
    font-size: 0.9rem;
    padding-top: 5px;
    margin-bottom: 20px;
}
.signup-form form{
    position: relative;
    width: 300px;
}
form label{
    font-weight: 500;
    font-size: 13px;
    text-align: left;
    color: #646464;
}
form input{
    width: 105%;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #faf9f9;
    margin-bottom: 15px;
    border-radius: 8px;
}
.dropdown {
    display: flex;
    flex-direction: row;
    max-width: 300px;
    margin: 20px;
    margin: 5% 0% 5% 0%;
    margin-top: 5px;
    margin-left: -5%;
  }
  .dropdown label {
    padding-top: 10px;
    margin: 0% 2% 0% 5%;
  }
  .dropdown select {
    width: 115px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: #faf9f9;
    color: #333;
    font-size: 12px;
    outline: none;
    transition: border-color 0.3s;
  }
form .signup-btn{
    display: inline-block;
    margin-top: 10px;
    padding: 10px 30px;
    background: #4460f1;
    color: white;
    border: 1px solid #4460f1;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    transition: all .50s ease;
    width: 336px;
}
form .signup-btn:hover{
    background: #0521ab;
    color: white;
    cursor: pointer;
}
#icon2-login{
    position: absolute;
    margin: auto;
    top: 0;
    padding-top: 75px;
    display: flex;
}
.img-sso{
    position: absolute;
    margin-top: 263px;
}
.text-sso{
    margin-top: 185px;
    margin-left: 98px;
}
.text-sso h1{
    font-size: 36px;
    font-weight: 800;
    line-height: 1.5;
}
.text-sso p{
    margin-top: 27px;
    font-size: 18px;
    line-height: 1.8;
    color: #363636;
}