<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/css/output.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Input Data SKPI</title>
  </head>
  <body>

    <section>
      <div class="flex justify-between px-8">
        <h1 class="text-4xl font-medium">Daftar Prestasi</h1>
        <button type="button" class="bg-green-600 text-white px-3 rounded-lg">Tambah Data</button>
      </div>

      <table class=" w-full border-collapse table-auto ">
        <thead class="text-blue-50">
          <tr class="bg-blue-800">
            <th class="rounded-tl-lg">Nama Prestasi</th>
            <th>Tanggal Pelaksanaan</th>
            <th>Keterangan</th>
            <th>Approval</th>
            <th class="rounded-tr-lg">Aksi</th>
          </tr>
        </thead>
        <tbody class="rounded-b-xl border-white bg-white">
          <tr class="border-white rounded-b-xl">
            <td class="rounded-bl-xl">1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td class="rounded-br-xl">5</td>
          </tr>
        </tbody>
      </table>
    
    </section>
  </body>
</html>
